/* Main container */
.main-container {
    width: 96vw;
    display: flex;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 4px;
    background-color: rgb(240, 240, 250); /* Light background color for entire container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  /*------------------- Left Container--------------------*/
  .left-main-container {
    height: 630px;
    width: 216px;
    background-color: rgb(15, 0, 77);
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    color: white;
  }
  #logo-left{
    margin-top: 0;
    margin-left: 60px;
  }
  /*------------------- Middle Container--------------------*/
  .middle-main-container {
    height: 610px;
    width: 1139px;
    background-color: #f9f9fc;
    border-radius: 10px;
    padding: 20px;
  }
  .hr-middle-container{
    border: none; /* Remove default border */
    border-top: 2px solid #aaa9a9;
    box-shadow: 0 6px 8px rgba(15, 0, 77, 2);
  }

  
  /* Left Sidebar icons */
  .icon-selected{
    margin: 20px 0;
    color: white;
    font-size: 24px;
    display: flex;
    margin-left: 10px;
    margin-top: 33px;
    backdrop-filter: blur(10px);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .icon-selected:hover{
    padding: 12px;
    border-radius: 10px ;
    border: 2px solid white;
  }
  
  #copyright{
    margin-top: 130px;
  }


  
  /*------------------------------*/

  